<a href="https://colab.research.google.com/github/praveenkumar21122006/Crypto-Portfolio-Manager/blob/main/praveen_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

basics

In [ ]:
# Single line comment

'''
Multi
line
comment
'''

print(" Individual Task of Cryto Portfolio Manager Project")

 Individual Task of Cryto Portfolio Manager Project

variables and datatypes

In [ ]:
a = 10
b = 2.6
c = "string"
d = True
e = None
f = [1, 2, 3, 4, 5]
g = (1, 2, 3, 4, 5)
h = {"name": "John", "age": 30, "city": "New York"}
i = {1, 2, 3, 4, 5}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

variables and print statement

In [ ]:
name = "praveen kumar"
age = 19
print("My name is " + name + " and I am " + str(age) + " years old.")
print(f"My name is {name} and I am {age} years old (f-string).")

My name is praveen kumar and I am 19 years old.
My name is praveen kumar and I am 19 years old (f-string).

user input

In [ ]:
var1 = input("Enter a value: ")   # default data type of input is string
print("You entered: " + var1)

Enter a value: praveen
You entered: praveen

In [ ]:
var2 = int(input("Enter a integer number: "))
print("You entered the number: " + str(var2))

Enter a integer number: 12
You entered the number: 12

In [ ]:
var3 = float(input("Enter a decimal number: "))
print("You entered the decimal number: " + str(var3))

Enter a decimal number: 19.5
You entered the decimal number: 19.5

range function

In [ ]:
for i in range (0,11,2):
    print(i)

0
2
4
6
8
10

escape sequences

In [ ]:
print("Hello\nWorld")   # Newline

Hello
World

In [ ]:
print("Hello\tWorld")   # Tab Space

Hello	World

In [ ]:
print("Hello\\World")   # Backslash

Hello\World

In [ ]:
print("Hello\'World")   # Single quote

Hello'World

In [ ]:
print("Hello\"World")   # Double quote

Hello"World

In [ ]:
print("Hello\rWorld")   # Carriage Return (moves the cursor to the beginning of the line, so "World" will overwrite "Hello")

World

In [ ]:
print("Hello\bWorld")   # Backspace (removes the character before it,

HelloWorld

strings

In [ ]:
str = "Crypto Portfolio Manager 13"
print(str)

Crypto Portfolio Manager 13

indexing and slicing

In [ ]:
print(str[0])
print(str[1:4])
print(str[::-1])  # reverse string

C
ryp
31 reganaM oiloftroP otpyrC

string methods

In [ ]:
print(str.isalnum())
print(str.isalpha())
print(str.isdigit())
print(str.islower())

False
False
False
False

In [ ]:
print(str.upper())  # converts all characters in the string to uppercase
print(str.lower())  # converts all characters in the string to lowercase

CRYPTO PORTFOLIO MANAGER 13
crypto portfolio manager 13

In [ ]:
print(str.strip())  # removes leading and trailing whitespace characters from the string
print(str.rstrip())  # removes trailing whitespace characters from the string
print(str.lstrip())  # removes leading whitespace characters from the string

Crypto Portfolio Manager 13
Crypto Portfolio Manager 13
Crypto Portfolio Manager 13

In [ ]:
print(str.startswith("Crypto"))  # checks if the string starts with the specified prefix "Crypto"
print(str.startswith("Portfolio"))  # checks if the string starts with the specified prefix "Portfolio"
print(str.endswith("13"))       # checks if the string ends with the specified suffix "13
print(str.endswith("Manager"))  # checks if the string ends with the specified suffix "Manager"
print(str.find("Portfolio"))  # returns the lowest index of the substring "Portfolio" if it is found in the string, otherwise returns -1
print(str.replace("Manager", "Tracker"))  # replaces all occurrences of the substring "Manager

True
False
True
False
7
Crypto Portfolio Tracker 13

In [ ]:
print(str.split())  # splits the string into a list of substrings base

['Crypto', 'Portfolio', 'Manager', '13']

In [ ]:
lst = ['Crypto', 'Portfolio', 'Manager', '13']
print(' '.join(lst))  # joins the list of strings into a single string with no separator

Crypto Portfolio Manager 13

Arithmetic operations

In [ ]:
a, b = 15, 4
print("add : ", "a + b = ", a + b)
print("sub : ", "a - b = ", a - b)
print("mul : ", "a * b = ", a * b)
print("true div : ", "a / b = ", a / b)
print("floor div : ", "a // b = ", a // b)
print("mod : ", "a % b = ", a % b)
print("pow : ", "a ** b = ", a ** b)

add :  a + b =  19
sub :  a - b =  11
mul :  a * b =  60
true div :  a / b =  3.75
floor div :  a // b =  3
mod :  a % b =  3
pow :  a ** b =  50625

Assignment & augmented operations

In [ ]:
x = 10
x += 5
print("aug add : ", "x (after +=5)", x)
x *= 2
print("aug mul : ", "x (after *=2)", x)

aug add :  x (after +=5) 15
aug mul :  x (after *=2) 30

comparison

In [ ]:
a, b = 15, 4
print("equals to : ", "a == b  ", a == b)
print("not equals to : ", "a != b  ", a != b)
print("less than : ", "a < b  ", a < b)
print("greater than or equal to : ", "a >= b  ", a >= b)

equals to :  a == b   False
not equals to :  a != b   True
less than :  a < b   False
greater than or equal to :  a >= b   True

logical operators

In [ ]:
p, q = True, False
print("and : ", "p and q = ", p and q)
print("or : ", "p or q = ", p or q)
print("not : ", "not p = ", not p)

and :  p and q =  False
or :  p or q =  True
not :  not p =  False

bitwise operators

In [ ]:
u, v = 6, 3  # 110 and 011
print("bit_and : ", "u & v = ", u & v)
print("bit_or : ", "u | v = ", u | v)
print("bit_xor : ", "u ^ v = ", u ^ v)
print("shift_left : ", "u << 1 = ", u << 1)
print("shift_right : ", "u >> 1 = ", u >> 1)

bit_and :  u & v =  2
bit_or :  u | v =  7
bit_xor :  u ^ v =  5
shift_left :  u << 1 =  12
shift_right :  u >> 1 =  3

membership and identity

In [ ]:
lst = [1, 2, 3]
print("in :", "2 in lst", 2 in lst)
print("not in :", "5 not in lst", 5 not in lst)
y = lst
print("is :", "y is lst", y is lst)

in : 2 in lst True
not in : 5 not in lst True
is : y is lst True

lists

In [ ]:
list_ex = [1, 2, 3.6, "hello", True, None, [4, 5], (6, 7), {"key": "value"}, {8, 9}]
my_list = [1, 2, 3, "hello",9, 4, 6, 7]
print(type(list_ex))

<class 'list'>

In [ ]:
my_list.append(5)
print(my_list)

[1, 2, 3, 'hello', 9, 4, 6, 7, 5]

In [ ]:
my_list.insert(1, "new")
print(my_list)

[1, 'new', 2, 3, 'hello', 9, 4, 6, 7, 5]

In [ ]:
my_list.remove("hello")
print(my_list)
my_list.remove("new")

[1, 'new', 2, 3, 9, 4, 6, 7, 5]

In [ ]:
item = my_list.pop()  # removes last element
print("Popped item: ", item)
print(my_list)

Popped item:  5
[1, 2, 3, 9, 4, 6, 7]

In [ ]:
my_list.sort()  # sorts the list in ascending order
print(my_list)

[1, 2, 3, 4, 6, 7, 9]

In [ ]:
my_list.reverse()  # reverses the order of the list
print(my_list)

[9, 7, 6, 4, 3, 2, 1]

list comprehension

In [ ]:
squares = [x**2 for x in range(11)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

tuples


 immutable,ordered collection

In [ ]:
my_tuple = (1, 2, 3)
print(my_tuple.count(2))   # counts the number of occurrences of the specified value (2 in this case) in the tuple and returns that count as an integer.
print(my_tuple.index(3))   # returns the index of the first occurrence of the specified value (3 in this case) in the tuple. If the value is not found, it raises a ValueError.

1
2

sets

In [ ]:
# Create sets for demonstrating set operations
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

In [ ]:
set2.add(9)
print(set2)

{4, 5, 6, 7, 8, 9}

In [ ]:
set2.remove(9)
print(set2)

{4, 5, 6, 7, 8}

In [ ]:
print(set1.union(set2))        # returns a new set that contains all u

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
print(set1.intersection(set2)) # returns a new set that contains only the elements that are present in both sets (set1 and set2)

{4, 5}

In [ ]:
print(set1.difference(set2))       # returns a new set that contains the elements that are present in set1 but not in set2

{1, 2, 3}

In [ ]:
print(set2.difference(set1))       # returns a new set that contains the elements that are present in set2 but not in set1

{8, 6, 7}

In [ ]:
print(set1.symmetric_difference(set2))  # returns a new set that contains the elements that are present in either set1 or set2 but not in both sets (the union of the differences of the two sets)

{1, 2, 3, 6, 7, 8}

dictionaries

In [ ]:
mydict = {"name": "praveen", "age": 19}
print(mydict["name"])
mydict["age"] = 19
mydict.update({"city": "odc"})

praveen

conditional statements

In [ ]:
x = int(input("Enter a number: "))
if x > 0:
    print("Positive")
elif x < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 2
Positive

for loop

In [ ]:
for i in range(11):
    if i == 5:
        continue  # skip the rest of the loop body when i is 5 and move to the next iteration
    elif i == 8:
        break  # exit the loop entirely when i is 8
    else:
        print(i)

0
1
2
3
4
6
7

while loop

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

functions

In [ ]:
def greet(name):
    """A simple function that greets a person."""
    print(f"Hello, {name}!")

greet("Alice")

Hello, Alice!

lambda functions

In [ ]:
# Lambda function - anonymous function defined with lambda keyword
# Syntax: lambda arguments: expression

# 1. Simple lambda function
square = lambda x: x**2
print("Square of 5:", square(5))
print('-'*20)

# 2. Lambda with multiple arguments
add = lambda x, y: x + y
print("Sum of 3 and 7:", add(3, 7))
print('-'*20)

# 3. Lambda function with conditional
check_even = lambda x: "Even" if x % 2 == 0 else "Odd"
print("10 is:", check_even(10))
print("7 is:", check_even(7))
print('-'*20)

# 4. Lambda with built-in functions like map()
numbers = [1, 2, 3, 4, 5]
doubled = list(map(lambda x: x * 2, numbers))
print("Doubled numbers:", doubled)
print('-'*20)

# 5. Lambda with filter()
filtered = list(filter(lambda x: x > 3, numbers))
print("Numbers greater than 3:", filtered)
print('-'*20)

# 6. Lambda with sorted()
students = [("Alice", 85), ("Bob", 75), ("Charlie", 90)]
sorted_by_score = sorted(students, key=lambda x: x[1])
print("Students sorted by score:", sorted_by_score)
print('-'*20)

Square of 5: 25
--------------------
Sum of 3 and 7: 10
--------------------
10 is: Even
7 is: Odd
--------------------
Doubled numbers: [2, 4, 6, 8, 10]
--------------------
Numbers greater than 3: [4, 5]
--------------------
Students sorted by score: [('Bob', 75), ('Alice', 85), ('Charlie', 90)]
--------------------

exception handling

In [ ]:
try:
    x = 10 / 0
except ZeroDivisionError as e:
    print("Error:", e)
else:
    print("No error")
finally:
    print("Always runs")

Error: division by zero
Always runs

object oriented programming(oop)


1.class and object

In [ ]:
from abc import ABC, abstractmethod

class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print(f"{self.name} says: hi!")

dog1 = Dog("oggy", 3)
dog1.bark()

oggy says: hi!

2.inheritance

In [ ]:
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        print(f"{self.name} makes a sound")

class Cat(Animal):
    def speak(self):
        print(f"{self.name} says: Meow!")

cat1 = Cat("Whiskers")
cat1.speak()

Whiskers says: Meow!

3.encapsulation

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance  # private attribute

    def deposit(self, amount):
        self.__balance += amount

    def get_balance(self):
        return self.__balance

account = BankAccount(1000)
account.deposit(500)
print(f"Balance: {account.get_balance()}")

Balance: 1500

4.polymorphism

In [ ]:
class Bird:
    def fly(self):
        print("Bird is flying")

class Airplane:
    def fly(self):
        print("Airplane is flying")

def make_fly(obj):
    obj.fly()

bird = Bird()
plane = Airplane()
make_fly(bird)
make_fly(plane)

Bird is flying
Airplane is flying

5.abstraction

In [ ]:
class Vehicle(ABC):
    @abstractmethod
    def start(self):
        pass

class Car(Vehicle):
    def start(self):
        print("Car engine started")

car = Car()
car.start()

Car engine started

modules & imports

In [ ]:
import math
print(math.sqrt(16))

from datetime import datetime
print(datetime.now())

4.0
2026-02-20 14:19:13.595004

builtin functions

In [ ]:
# len() - returns the length of an object
print("len() - Length of a list:")
print(len([1, 2, 3, 4, 5]))

# type() - returns the type of an object
print("\ntype() - Type of an object:")
print(type([1, 2, 3]))

# id() - returns the unique identifier of an object
print("\nid() - Unique identifier:")
print(id([1, 2, 3]))

# dir() - returns a list of valid attributes for an object
print("\ndir() - Attributes of a list:")
print(dir([]))

# help() - provides documentation about an object
print("\nhelp() - Documentation:")
help(list.append)

# sum() - returns the sum of all items in an iterable
print("\nsum() - Sum of list:")
print(sum([1, 2, 3, 4, 5]))

# max() - returns the largest item in an iterable
print("\nmax() - Maximum value:")
print(max([1, 5, 3, 2, 4]))

# min() - returns the smallest item in an iterable
print("\nmin() - Minimum value:")
print(min([1, 5, 3, 2, 4]))

# sorted() - returns a sorted list
print("\nsorted() - Sorted list:")
print(sorted([3, 1, 4, 1, 5, 9, 2, 6]))

# enumerate() - returns an enumerate object with index and value pairs
print("\nenumerate() - Index and value pairs:")
for index, value in enumerate(['a', 'b', 'c']):
    print(f"Index: {index}, Value: {value}")

# zip() - combines two or more iterables element-wise
print("\nzip() - Combine iterables:")
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
print(list(zip(list1, list2)))

# map() - applies a function to every item in an iterable
print("\nmap() - Apply function to items:")
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, numbers))
print(squared)

# filter() - filters items based on a condition
print("\nfilter() - Filter items:")
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

# any() - returns True if any item in an iterable is True
print("\nany() - Check if any item is True:")
print(any([False, False, True, False]))

# all() - returns True if all items in an iterable are True
print("\nall() - Check if all items are True:")
print(all([True, True, True, True]))

len() - Length of a list:
5

type() - Type of an object:
<class 'list'>

id() - Unique identifier:
135259461119424

dir() - Attributes of a list:
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

help() - Documentation:
Help on method_descriptor:

append(self, object, /) unbound builtins.list method
    Append object to the end of the list.


sum() - Sum of list:
15

max() - Maximum value:
5

min() - Minimum value:
1

sorted() - Sorted list:
[1, 1, 2, 3, 4, 5, 6, 9]

enumerate() - Index and value pairs:
Index: 0, Value: a
Index: 1, Value: b
Index: 2, Value: c

zip() - Combine iterables:
[(1, 'a'), (2, 'b'), (3, 'c')]

map() - Apply function to items:
[1, 4, 9, 16, 25]

filter() - Filter items:
[2, 4, 6, 8, 10]

any() - Check if any item is True:
True

all() - Check if all items are True:
True

File handling

In [ ]:
import os
import shutil
import json
import pickle
import tempfile
from pathlib import Path

# Use a temporary directory to avoid clutter
with tempfile.TemporaryDirectory() as tmpdir:
    p = Path(tmpdir)

    # 1) Text file - write, writelines, read, readline, readlines, append, seek, tell, flush, close
    txt = p / "example.txt"
    with open(txt, "w", encoding="utf-8") as f:
        f.write("First line\nSecond line\nThird line")
        f.writelines(["\nFourth line", "\nFifth line"])
        f.flush()
        pos_after_write = f.tell()
    with open(txt, "r", encoding="utf-8") as f:
        full_text = f.read()
    with open(txt, "r", encoding="utf-8") as f:
        f.seek(0)
        first = f.readline()
        rest = f.readlines()
    with open(txt, "a", encoding="utf-8") as f:
        f.write("\nAppended line")

    # 2) Exclusive create (x) - fails if file exists
    new_txt = p / "create_only.txt"
    try:
        with open(new_txt, "x", encoding="utf-8") as f:
            f.write("Created with mode 'x'")
    except FileExistsError:
        pass

    # 3) Binary files - write and read
    binf = p / "data.bin"
    with open(binf, "wb") as f:
        f.write(b"\x00\x01\x02\x03")
    with open(binf, "rb") as f:
        bin_data = f.read()

    # 4) JSON - dump and load (text-based serialization)
    jfile = p / "data.json"
    sample = {"name": "Alice", "values": [1, 2, 3]}
    with open(jfile, "w", encoding="utf-8") as f:
        json.dump(sample, f)
    with open(jfile, "r", encoding="utf-8") as f:
        json_loaded = json.load(f)

    # 5) Pickle - dump and load (binary serialization)
    pfile = p / "data.pkl"
    with open(pfile, "wb") as f:
        pickle.dump(sample, f)
    with open(pfile, "rb") as f:
        pickle_loaded = pickle.load(f)

    # 6) Copy and rename, check existence, delete
    copy_target = p / "copy_of_example.txt"
    shutil.copyfile(txt, copy_target)
    renamed = p / "renamed_example.txt"
    os.rename(copy_target, renamed)
    exists_before = renamed.exists()
    os.remove(renamed)
    exists_after = renamed.exists()

    # 7) Temporary NamedTemporaryFile (manual cleanup demonstrated)
    tmpf = tempfile.NamedTemporaryFile(delete=False)
    try:
        tmpf.write(b"temporary bytes")
        tmpf_name = tmpf.name
    finally:
        tmpf.close()
    with open(tmpf_name, "rb") as f:
        tmp_contents = f.read()
    os.remove(tmpf_name)

    # 8) Demonstrate reading partial content with seek/tell again and closing explicitly
    f_extra = open(p / "extra.txt", "w+", encoding="utf-8")
    f_extra.write("LineA\nLineB\nLineC")
    f_extra.flush()
    position = f_extra.tell()
    f_extra.seek(0)
    partial = f_extra.readline()
    f_extra.close()  # explicit close

    # Print a concise summary of demonstrated operations and key values
    print("example.txt content (first 60 chars):", full_text[:60])
    print("first line:", first.strip())
    print("rest lines count:", len(rest))
    print("pos after write (example.txt):", pos_after_write)
    print("binary data bytes:", bin_data)
    print("json_loaded:", json_loaded)
    print("pickle_loaded:", pickle_loaded)
    print("renamed existed before removal:", exists_before, "after removal:", exists_after)
    print("named temp file read bytes:", tmp_contents)
    print("extra.txt first line:", partial.strip(), "position after write:", position)

example.txt content (first 60 chars): First line
Second line
Third line
Fourth line
Fifth line
first line: First line
rest lines count: 4
pos after write (example.txt): 56
binary data bytes: b'\x00\x01\x02\x03'
json_loaded: {'name': 'Alice', 'values': [1, 2, 3]}
pickle_loaded: {'name': 'Alice', 'values': [1, 2, 3]}
renamed existed before removal: True after removal: False
named temp file read bytes: b'temporary bytes'
extra.txt first line: LineA position after write: 17